---
layout: page
---
{% include h1 title="Printable" %}

<p>Classes that extend <code>mant::Printable</code> must implement a member function <code>.toString()</code>, returning a filesystem friendly name for the class.</p>

{% highlight cpp %}
#include <mantella>
#include <string>

int main() {
  unsigned int numberOfDimensions = 10;
  std::shared_ptr<mant::OptimisationProblem> optimisationProblem = std::shared_ptr<mant::OptimisationProblem>(new mant::bbob::LinearSlope(numberOfDimensions));
  mant::HillClimbing hillClimbing(optimisationProblem);
  
  arma::Mat<double> results;
  /* Doing something, filling the results matrix */

  // Save the results
  results.save("/some/path/" + mant::to_string(optimisationProblem) + "_dim" + std::string(numberOfDimensions) + ".mat", arma::raw_ascii);

  return 0;
}
{% endhighlight %}

Choosing <code>arma::raw_ascii</code> as file output format guarantees compatibility with Matlab (using <code>dlmread('/path/to/file');</code>). If this is not necessary for you, we recommend using <code>arma::arma_binary</code>, which operates faster and generates shorter files.

{% include api call=".toString" returns="std::string"%}

<p>Returns a filesystem friendly string representation of the derived class.</p>

{% include api call="to_string" returns="std::string" params="std::shared_ptr&lt;mant::Printable&gt; P" %}

<p>Syntactic sugar, added to have a function call similar to C++ STLs <code>std::to_string(...)</code>.</p>

<ul>
  <li>This is equal to <code>P->toString()</code>.</li>
</ul>