---
layout: page
---
{% include h1 title="Random Matrix Generator" %}

{% include api call="getRandomRotationMatrix" returns="arma::Mat&lt;T&gt;" params="unsigned int N" %}

<p>Generates a randomly and uniformly drawn <code>N</code>-dimensional rotation matrix.</p>

<ul>
  <li><strong>Note:</strong> The rotation of each dimension will be uniformly distributed.</li>
  <li><strong>Requirement:</strong> The dimension <code>N</code> must be greater than or equal to 2.</li>
</ul>

{% include api call="getRandomPermutation" returns="arma::Col&lt;unsigned int&gt;" params="unsigned int N, unsigned int K" %}

<p>Generates a randomly and uniformly drawn permutation of length <code>K</code> from <code>N</code> elements.</p>

<ul>
  <li>All elements in the permutation will be unique and within \([0, N - 1]\).</li>
  <li><strong>Requirement:</strong> The length <code>K</code> must be greater than or equal to 1.</li>
  <li><strong>Requirement:</strong> The length <code>K</code> must be less than or equal to the number of elements <code>N</code>.</li>
</ul>

{% include api call="getRandomPermutation" returns="arma::Col&lt;unsigned int&gt;" params="unsigned int N" %}

<p>Generates a randomly and uniformly drawn permutation of length <code>N</code> from <code>N</code> elements.</p>

<ul>
  <li>All elements in the permutation will be unique and within \([0, N - 1]\).</li>
  <li><strong>Note:</strong> The result is equal to <code>getRandomPermutation(N, N)</code>.</li>
  <li><strong>Requirement:</strong> The number of elements <code>N</code> must be greater than or equal to 1.</li>
</ul>