---
layout: page
---
{% include h1 title="Random Number Generator" %}

<p>Provides a single class to handle the initialisation/seeding of the random number generators used by Mantella, for the C++ standard library and Armadillo C++ linear algebra library.</p>

<p>In the most common use case, the random number generator is initialised only once during start-up to either a randomly and uniformly drawn seed, or some specific seed, in order to reproduce a previous run.</p>
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#common-use-case-basic" aria-controls="common-use-case-basic" role="tab" data-toggle="tab">Basic</a></li>
  <li role="presentation"><a href="#common-use-case-mpi" aria-controls="common-use-case-mpi" role="tab" data-toggle="tab">MPI</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="common-use-case-basic">
{% highlight cpp %}
#include <string>
#inclide <iostream>
#include <mantella>

int main(const int argc, const char *argv[]) {
  unsigned int seed;
  if (argc > 1) {
    // Reproduce the results of a previous run.
    seed = std::stoi(argv[1]);
    mant::RNG::setSeed(seed);
  
    std::cout << "Restored run with seed: " << seed << std::endl;
  } else {
    // Randomly and uniformly initialise the random number generator.
    mant::RNG::setRandomSeed();
    // Current seed. You may want to log this value, in order to reproduce this run later on.
    seed =  mant::RNG::getSeed();
  
    std::cout << "Initialised run with random seed: " << seed << std::endl;
  }

  // Do something ...
  
  return 0;
}
{% endhighlight %}
  </div>
  <div role="tabpanel" class="tab-pane" id="common-use-case-mpi">
{% highlight cpp %}
#include <string>
#inclide <iostream>
#include <mpi.h>
#include <mantella>

int main(int argc, char *argv[]) {
  MPI_Init(argc, argv);

  int rank;
  MPI_Comm_rank(MPI_COMM_WORLD, &rank);

  unsigned int seed;
  if (argc > rank + 1) {
    // Reproduce the results of a previous run.
    seed = std::stoi(argv[rank + 1]);
    mant::RNG::setSeed(seed);
  
    std::cout << "Restored run with seed: " << seed << std::endl;
  } else {
    // Randomly and uniformly initialise the random number generator.
    mant::RNG::setRandomSeed();
    // Current seed. You may want to log this value, in order to reproduce this run later on.
    seed =  mant::RNG::getSeed();
  
    std::cout << "Initialised run with random seed: " << seed << std::endl;
  }

  // Do something ...
  
  return 0;
}
{% endhighlight %}
  </div>
</div>

<p>For the C++ standard library, a 64-bit Mersenne Twister (<code>std::mt19937_64</code>) is provided by <code>mant::Rng::getGenerator()</code>. It is recommended to use <code>mant::Rng::getGenerator()</code> as random generator for all C++ standard library random functions (e.g. <code>std::uniform_real_distribution(...)</code>).</p>

<p>Armadillo C++ will also use <code>std::mt19937_64</code>, if compiled with a C++11-compatible compiler.</p>
{% highlight cpp %}
arma::Col<double> function randomStep(
  const double minimalStepLength,
  const double maximalStepLength) {
  return
    // A step with uniformly and randomly direction ...
    arma::normalise(arma::randn<arma::Col<T>>(parameter.n_elem)) * 
    // .. and length.
    std::uniform_real_distribution<double>(minimalStepLength, maximalStepLength)(Rng::getGenerator()); 
}
{% endhighlight %}

{% include api call="Rng::getGenerator" returns="std::mt19937_64" %}

<p>Returns the random number generator used by Mantelall i.e. a reference to <code>std::mt19937_64</code>.</p>

{% include api call="Rng::setSeed" returns="void" params="std::mt19937_64::result_type S" %}

<p>Seeds the random generator provided by <code>Rng::getGenerator()</code>, as well as Armadillo C++'s random generator with <code>S</code>.</p>

<ul>
  <li>If used together with MPI, avoid global calls to this method. This will synchronise (and therefore degenerate) the randomness between all processes. We recommend to use <code>RNG::setRandomSeed()</code> instead, or setting the seed of each process individually.</li>
</ul>
{% highlight cpp %}
int rank;
MPI_Comm_rank(MPI_COMM_WORLD, &rank);

// Sets the seed of all processes to 12345, degenerating the randomness between processes.
setSeed(12345);

if (rank == 0) {
  // Sets only the seed of the *first* process to 98765.
  setSeed(98765);
}
{% endhighlight %}

{% include api call="Rng::setRandomSeed" returns="void" %}

<p>Seeds the random generator provided by <code>Rng::getGenerator()</code>, as well as Armadillo C++'s random generator with to the same randomly and uniformly drawn seed.</p>

<ul>
  <li>If used together with a MPI-library, ensure to call <code>MPI_Init(...)</code> prior to this function, as it uses local, MPI-based information to provided each instance with its own random seed, avoiding the degeneration of paralleled randomness.</li>
</ul>

{% highlight cpp %}
#include <mpi.h>
#include <mantella>

int main(int argc, char* argv[]) {
  MPI_Init(argc, argv);

  mant::RNG::setRandomSeed();
  
  // Do something ...
  
  return 0;
}
{% endhighlight %}

{% include api call="Rng::setSeed" returns="std::mt19937_64::result_type" %}

<p>Returns the seed used with <code>Rng::getGenerator()</code>, as well as Armadillo C++'s random generator.</p>

<ul>
  <li>If neither <code>Rng::setRandomSeed()</code> nor <code>Rng::setSeed(...)</code> was called prior to this, the result can be anything (but will most likely be 5489, i.e. <code>std::mt19937_64::default_seed</code>).</li>
</ul>