---
Language: Cpp
BasedOnStyle: Google
Standard: Cpp11

AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
DerivePointerAlignment: false
NamespaceIndentation: All
SpacesBeforeTrailingComments: 1
...
