# Tests
test/main.cpp
test/build
## CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

## Documentation
doc/_html/
doc/api_reference/

# Development tools
## Vagrant
.vagrant/
