# Global
build/

# Tests
test/main.cpp
## CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

# Documentation
doc/_html/
doc/api_reference/
doc/assert/

# Benchmark
benchmark/**/*.mat
benchmark/**/*.png

# Development tools
## Vagrant
.vagrant/
