---
layout: page
---
{% include h1 title="Installation" %}

<div class="panel panel-info">
  <div class="panel-heading">Is my OS supported?</div>
  <div class="panel-body">
    We are actively supporting all big operation systems (Unix and Linux variants, Mac OS X and Windows), provided all necessary dependencies are already installed.
  </div>
</div>

{% include h2 title="Prerequirements" %}

<ul>
  <li>GCC 4.8.1, Clang 3.3 or any other C++11 feature complete compiler</li>
  <li>Armadillo C++ minimum required is 6.400.0</li>
</ul>

<p>Installing Armadillo C++ on Ubuntu (visit <a href="http://arma.sourceforge.net/download.html">Armadillo's download page</a> to find installation instructions for other operating systems):</p>

{% highlight bash %}
sudo apt-get install libblas-dev liblapack-dev libopenblas-dev
wget --quiet -O armadillo.tar.gz http://downloads.sourceforge.net/project/arma/armadillo-6.200.4.tar.gz
mkdir armadillo
tar -xzf armadillo.tar.gz -C ./armadillo --strip-components=1
cd armadillo
cmake .
make
sudo make install
{% endhighlight %}

{% include h2 title="Download and Install" %}

<p>Mantella is a header-only library, downloading the latest stable version and placing the header files into a directory standardly searched by your compiler finishes the installation.</p>

{% highlight bash %}
git clone --depth 1 --branch master https://github.com/SebastianNiemann/Mantella.git
cd Mantella
cmake .
make -j 4
sudo make install
{% endhighlight %}

<strong>Done.</strong> You can now start creating applications with Mantella.
