body {
  font-family: "Open Sans", Arial, sans-serif;
}

@media screen {
  body {
    font-size: 16px;
  }
  main {
    padding: 100px 0 20px;
  }
}

@media print {
  body {
    background-color: white;
  }
}

main {
  background-color: white;
}

.anchor {
  font-size: 90%;
}

.landing-page {
  background-size: cover;
  background-position-x: center;
  padding-bottom: 30px;
  pre {
    text-align: initial;
  }
  h2 {
    margin-bottom: 30px;
  }
  .btn {
    font-size: 22px;
    margin: 0 20px 20px;
  }
}

@media (min-width: 992px) {
  .landing-page {
    padding: 100px 20%;
  }
  .landing-page-first {
    padding: 150px 20%;
  }
}

.landing-page-first {
  background-image: linear-gradient(rgba(58, 58, 60, 0.9), rgba(58, 58, 60, 0.9)), url(/assets/images/background_1.jpg);
  color: white;
}

.landing-page-third, .landing-page-fifth {
  color: white;
}

.landing-page-first h1 {
  font-size: 70px;
  margin-top: 80px;
}

@media (min-width: 768px) {
  .landing-page-first h1 {
    font-size: 126px;
  }
}

.landing-page-second, .landing-page-fourth, .landing-page-sixth {
  background-color: white;
}

.landing-page-third {
  background-image: linear-gradient(rgba(56, 180, 159, 0.85), rgba(56, 180, 159, 0.85)), url(/assets/images/background_2.jpg);
  small {
    color: #FFF;
  }
}

.landing-page-second {
  background-color: white;
}

.landing-page-fifth {
  background-image: linear-gradient(rgba(219, 78, 78, 0.85), rgba(219, 78, 78, 0.85)), url(/assets/images/background_3.jpg);
  small {
    color: white;
  }
  a {
    color: white;
    &:hover, &:focus, &:visited, &:active {
      color: white;
    }
  }
}

.landing-page-sixth small {
  color: white;
}

.nav > li > a {
  font-size: 18px;
  &:hover, &:focus {
    background-color: #ee6e73;
    color: white;
  }
}

.navbar-brand {
  font-size: 32px;
  font-family: "Open Sans";
  padding: 20px 20px;
  line-height: 30px;
  height: 70px;
}

.navbar-inverse {
  .navbar-brand {
    color: white;
  }
  background-color: rgba(58, 58, 60, 1);
  border: none;
  .navbar-nav > {
    li > a {
      color: #ee6e73;
      transition: all .3s ease-out;
    }
    .active > a {
      background-color: #db4e4e;
      &:hover, &:focus {
        background-color: #db4e4e;
      }
    }
    li > a {
      &:hover, &:focus {
        background-color: #ee6e73;
        transition: all 0.3s;
      }
    }
  }
  .navbar-toggle {
    border-color: white;
    &:hover, &:focus {
      background-color: #db4e4e;
      border: 0;
    }
  }
  .navbar-collapse, .navbar-form {
    border: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
  }
}

.nav-pills > li.active > ul {
  padding-top: 5px;
}

.nav > li > ul > li > a {
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  &:hover, &:focus {
    background-color: #ee6e73;
    color: white;
  }
}

.nav-pills > li.active > ul > li.active a {
  font-weight: bold;
  background-color: transparent;
  color: rgb(219, 78, 78);
}

a {
  color: #db4e4e;
  &:hover, &:focus {
    color: #ee6e73;
  }
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
  }
}

.btn-primary {
  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: #ee6e73;
  }
}

.open > .dropdown-toggle.btn-primary {
  background-color: #ee6e73;
}

.btn-default {
  &:hover, &:focus, &.focus, &:active, &.active {
    color: white;
    background-color: #ee6e73;
  }
}

.open > .dropdown-toggle.btn-default {
  color: white;
  background-color: #ee6e73;
}

.pager li > a {
  &:hover, &:focus {
    color: white;
    background-color: #ee6e73;
    border-color: #ee6e73;
  }
}

footer {
  background-color: rgb(58, 58, 60);
  padding: 20px 0;
  color: #aaa;
}

@media screen {
  a[href^="http"]:not(.btn):after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF////ZmZmf39/mZmZzMzM////uFQy2wAAAAF0Uk5TAEDm2GYAAAA9SURBVAjXY2BgUFJSYmBgMg0NYgCygaSgoAqQFA1ydQKSKiFKRgyizk4CCgyiIaoCDAyioaFAUlBQUIABAOraB5b0DpEbAAAAAElFTkSuQmCC);
  }
}

.github {
  float: right;
  margin-right: -70px;
  .btn {
    box-shadow: none;
  }
}

h1:before, h2:before {
  content: "";
  display: block;
}

h1:before {
  height: 120px;
  margin: -120px 0 0;
}

h2:before, h3:before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

pre {
  margin: 20px 0;
}

.tab-pane pre {
  margin: 0 0 20px;
}

.highlight pre {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

.nav-tabs {
  color: inherit;
  background: none;
  border: 0;
  > li {
    margin-right: 5px;
    > a {
      font-size: 14px;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 0;
      &:hover, &:focus {
        border-color: #ee6e73;
      }
    }
    &.active > a {
      border: 0;
      color: white;
      font-weight: bold;
      background-color: #db4e4e;
      &:hover, &:focus {
        border: 0;
        color: white;
        font-weight: bold;
        background-color: #db4e4e;
      }
    }
  }
}

.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 4px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
}

.nav .open > a {
  background: none;
  &:hover, &:focus {
    background: none;
  }
}

.panel-heading p {
  margin: 0;
}

.panel-group {
  margin-bottom: 5px;
  a {
    text-decoration: none;
    display: block;
    &:hover {
      color: #ee6e73;
      font-weight: bold;
    }
  }
}

@media print {
  .highlight pre code {
    white-space: pre-wrap;
  }
  .tab-content > .tab-pane {
    display: block;
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 30px;
  border-radius: 3px;
}

.landing-page-first .lead {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .landing-page-first .lead {
    margin-bottom: 25px;
  }
}

.navbar-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .affix-top {
    background: none;
  }
}

@media (max-width: 768px) {
  .pager {
    .previous > {
      a, span {
        float: none;
      }
    }
    .next > {
      a, span {
        float: none;
      }
      a, span {
        margin-top: 20px;
      }
    }
  }
}

.container {
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .thumbnail img {
    margin-top: 0;
    margin-bottom: 0;
  }
}

pre {
  border: 0;
  padding: 16px;
}

main .row > div {
  ul, ol {
    margin-right: 40px;
  }
}

.example {
  margin-top: 20px;
  .panel-heading {
    cursor: pointer;
    p {
      color: #959595;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
  .panel-body{
    padding: 0;
    pre {
      background-color: initial;
    }
  }
  .panel-footer {
    padding: 0;
  }
  p {
    font-size: 14px;
  }
  p, pre {
    margin: 0;
  }
}

aside {
  .affix {
    width: 262px;
  }
  .affix-bottom {
    position: relative
  }
  li > a[href="#top"] {
    font-size: 12px;
    &:hover {
      background-color: initial;
      color: rgb(219, 78, 78);
    }
  }
}