---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$primary-color: #df2020;
$primary-color-dark: darken($primary-color, 20%);

$secondary-color: #e5e5e5;
$secondary-color-dark: #777;
$secondary-color-light: #f3f3f3;

$primary-text-color: black;
$secondary-text-color: white;

$primary-background-color: $secondary-color-light;
$secondary-background-color: white;
$link-color: $primary-color;

$success-color: #5cb85c;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$info-color: #5bc0de;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
;
