body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #292929;
  background: rgb(253, 253, 253);
}

a {
  text-decoration: none;
  color: #2980B9;
}

a[href^="http:"]:after,
a[href^="https:"]:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF////ZmZmf39/mZmZzMzM////uFQy2wAAAAF0Uk5TAEDm2GYAAAA9SURBVAjXY2BgUFJSYmBgMg0NYgCygaSgoAqQFA1ydQKSKiFKRgyizk4CCgyiIaoCDAyioaFAUlBQUIABAOraB5b0DpEbAAAAAElFTkSuQmCC);
}

a:hover {
  color: #4fa5de;
}

body > div:first-child:after {
  clear: both;
}

nav {
  position: fixed;
  top: 0;
  overflow-y: auto;
  bottom: 0;
  width: 300px;
  background: #292929;
  font-size: 95%;
  color: #f8f8f8;
}

nav > div {
  text-align: center;
  padding: 12px;
  margin-bottom: 16px;
}

nav p {
  font-weight: bold;
  margin: 0;
}

nav p:first-child {
  font-size: 200%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  padding: 6px 24px;
  color: #fcfcfc;
}

nav a:hover {
  background: #4e4a4a;
  color: inherit;
}

nav li li a:hover {
  background: #d6d6d6;
}

nav > ul > .current {
background: #e3e3e3
}

nav > ul > li > .current {
  color: #404040;
  font-weight: bold;
  background: #fcfcfc;
  border-bottom: solid 1px #c9c9c9;
  border-top: solid 1px #c9c9c9;
}

nav > ul > li.current li a {
  color: #6b6b6b;
}

div.admonition.warning{
  background-color: #e8bf28;
  border-radius: 15px;
  text-align: center;
}

main {
  float: left;
  margin-left: 300px;
  max-width: 1200px;
}

main > * {
  margin: 16px 72px;
}

main aside {
  padding-top: 16px;
}

main h1,
main h2 {
  border-top: 1px solid #e3e3e3;
  padding-top: 24px;
  font-family: 'Roboto Slab', serif;
}

main h1 {
  margin-top: 16px;
}

main h2 {
  margin-top: 48px;
}

main dt {
  margin-bottom: 18px;
  padding: 6px;
  border-bottom: 2px solid #e3e3e3;
}

main dt,
main dt code {
  font-family: inherit;
  font-weight: bold;
}

main dt em {
  font-style: normal;
}

main .headerlink,
main .versionadded,
main .versionchanged,
main .deprecated {
  display: none;
}

main .topic > :first-child {
  font-family: 'Roboto Slab', serif;
  margin: 24px 0 16px;
  font-weight: bold;
  font-size: 110%;
}

main .topic > :not(:first-child) {
  padding-left: 24px;
}

main p {
  margin: 0 0 8px 0;
}

main .literal {
  font-weight: normal;
  padding: 2px 4px;
  font-size: 90%;
  border: none;
  border-radius: 4px;
}

main :not(.xref).literal {
  color: #c7254e;
  background-color: #f9f2f4;
}

main .warning :not(.xref).literal {
  background-color: #fff;
}

main .xref {
  background-color: #e7f2fa;
}

main .note .xref {
  background-color: #fff;
}

main details {
  margin: 12px 0;
}

main summary {
  padding: 6px 12px;
  border-radius: 6px;
  background: #292929;
  color: #f8f8f8;
  cursor: pointer;
}

main details[open] summary {
  border-radius: 6px 6px 0 0;
}

main details pre {
  white-space: pre-wrap;
  background: #292929;
  margin: 0;
  padding: 12px;
  font-size: 110%;
  color: #f8f8f8;
}

main details > div:nth-child(even) pre {
  background: #343131;
}

main details > div:last-child pre {
  border-radius: 0 0 6px 6px;
}

main details pre .c { color: #75715e; font-weight: normal; background: none; } /* Comment */
main details pre .err { color: #f8f8f8; font-weight: normal; background: none; } /* Error */
main details pre .esc { color: #f8f8f8; font-weight: normal; background: none; } /* Escape */
main details pre .g { color: #f8f8f8; font-weight: normal; background: none; } /* Generic */
main details pre .k { color: #f92672; font-weight: normal; background: none; } /* Keyword */
main details pre .l { color: #f8f8f8; font-weight: normal; background: none; } /* Literal */
main details pre .n { color: #f8f8f8; font-weight: normal; background: none; } /* Name */
main details pre .o { color: #f8f8f8; font-weight: normal; background: none; } /* Operator */
main details pre .x { color: #f8f8f8; font-weight: normal; background: none; } /* Other */
main details pre .p { color: #f8f8f8; font-weight: normal; background: none; } /* Punctuation */
main details pre .ch { color: #75715e; font-weight: normal; background: none; } /* Comment.Hashbang */
main details pre .cm { color: #75715e; font-weight: normal; background: none; } /* Comment.Multiline */
main details pre .cp { color: #f92672; font-weight: normal; background: none; } /* Comment.proc */
main details pre .cpf { color: #f8f8f8; font-weight: normal; background: none; } /* Comment.procFile */
main details pre .c1 { color: #75715e; font-weight: normal; background: none; } /* Comment.Single */
main details pre .cs { color: #75715e; font-weight: normal; background: none; } /* Comment.Special */
main details pre .gd { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Deleted */
main details pre .ge { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Emph */
main details pre .gr { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Error */
main details pre .gh { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Heading */
main details pre .gi { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Inserted */
main details pre .go { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Output */
main details pre .gp { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Prompt */
main details pre .gs { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Strong */
main details pre .gu { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Subheading */
main details pre .gt { color: #f8f8f8; font-weight: normal; background: none; } /* Generic.Traceback */
main details pre .kc { color: #f8f8f8; font-weight: normal; background: none; } /* Keyword.Constant */
main details pre .kd { color: #f8f8f8; font-weight: normal; background: none; } /* Keyword.Declaration */
main details pre .kn { color: #f8f8f8; font-weight: normal; background: none; } /* Keyword.Namespace */
main details pre .kp { color: #f8f8f8; font-weight: normal; background: none; } /* Keyword.Pseudo */
main details pre .kr { color: #f8f8f8; font-weight: normal; background: none; } /* Keyword.Reserved */
main details pre .kt { color: #66d9ef; font-weight: normal; background: none; } /* Keyword.Type */
main details pre .ld { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.Date */
main details pre .m { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number */
main details pre .s { color: #e6db74; font-weight: normal; background: none; } /* Literal.String */
main details pre .na { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Attribute */
main details pre .nb { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Builtin */
main details pre .nc { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Class */
main details pre .no { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Constant */
main details pre .nd { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Decorator */
main details pre .ni { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Entity */
main details pre .ne { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Exception */
main details pre .nf { color: #a6e22e; font-weight: normal; background: none; } /* Name.Function */
main details pre .nl { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Label */
main details pre .nn { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Namespace */
main details pre .nx { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Other */
main details pre .py { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Property */
main details pre .nt { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Tag */
main details pre .nv { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Variable */
main details pre .ow { color: #f8f8f8; font-weight: normal; background: none; } /* Operator.Word */
main details pre .w { color: #f8f8f8; font-weight: normal; background: none; } /* Text.Whitespace */
main details pre .mb { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Bin */
main details pre .mf { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Float */
main details pre .mh { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Hex */
main details pre .mi { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Integer */
main details pre .mo { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Oct */
main details pre .sb { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Backtick */
main details pre .sc { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Char */
main details pre .sd { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Doc */
main details pre .s2 { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Double */
main details pre .se { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Escape */
main details pre .sh { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Heredoc */
main details pre .si { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Interpol */
main details pre .sx { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Other */
main details pre .sr { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Regex */
main details pre .s1 { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Single */
main details pre .ss { color: #f8f8f8; font-weight: normal; background: none; } /* Literal.String.Symbol */
main details pre .bp { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Builtin.Pseudo */
main details pre .vc { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Variable.Class */
main details pre .vg { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Variable.Global */
main details pre .vi { color: #f8f8f8; font-weight: normal; background: none; } /* Name.Variable.Instance */
main details pre .il { color: #ae81ff; font-weight: normal; background: none; } /* Literal.Number.Integer.Long */

main img {
  width: 95%;
}

main video {
  width: 95%;
  height: 95%;
}

main caption {
  margin-top: 36px;
  text-align: left;
  border-bottom: 2px solid #e3e3e3;
  color: #b3b3b3;
}

main caption .headerlink {
  display: none;
}

main table,
main td {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

main tr:not(:last-child) {
  border-bottom: 1px solid #e3e3e3;
}

main td {
  white-space: inherit;
  padding: 12px;
}

main tr td:first-child {
  font-weight: bold;
  text-align: right;
}

main tr td:first-child p.last,
main tr td:first-child code {
  color: #808080;
  font-size: 90%;
  font-weight: normal;
}

main .prev,
main .next {
  border-radius: 2px;
  font-size: 90%;
  padding: 6px 12px 8px 12px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px -1px rgba(255,255,255,0.5) inset, 0 -2px 0 0 rgba(0,0,0,0.1) inset;
  background: #f6f6f6;
  color: #292929;
}

main .prev:hover,
main .next:hover {
  background: #ebebeb;
}

main .prev:active,
main .next:active {
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05) inset, 0 2px 0 0 rgba(0,0,0,0.1) inset;
  padding: 8px 12px 6px 12px;
}

main .prev {
  float: left;
  margin-left: 72px;
}

main .prev:before {
  content: "« ";
}

main .next {
  float: right;
  margin-right: 72px;
}

main .next:after {
  content: " »";
}

footer {
  clear: both;
  text-align: center;
  padding-top: 16px;
  font-size: 90%;
}

footer p {
  border-top: 1px solid #e3e3e3;
  padding: 24px 0;
}
