h1 {
	font-size: 250%;
}

.rst-content code {
	background: #f9f2f4;
	border: none;
	font-size: 90%;
}

.codeblock,pre.literal-block,.rst-content .literal-block,.rst-content pre.literal-block,div[class^='highlight'] {
	background: #f5f5f5;
}

.codeblock div[class^='highlight'], pre.literal-block div[class^='highlight'],
.rst-content .literal-block div[class^='highlight'], div[class^='highlight'] div[class^='highlight'] {
    border: none;
    background: #343131;
    margin: 0
}

div[class^='highlight'] pre {
	font-size: 14px;
}

.wy-menu-vertical a{
	font-size: 100%;
}

.wy-body-for-nav {
	background: left repeat-y #424242;
}

.wy-nav-content{
	max-width: 1200px;
} 
  
@media screen and (min-width: 1400px){
	.wy-nav-content-wrap {
		background: #424242;
	}
}

.rst-content tt.xref,a .rst-content tt,.rst-content tt.xref,.rst-content code.xref,a .rst-content tt,a .rst-content code{
   font-weight:normal;
	color: #c7254e;
	border-radius: 2px 4px;
}

.rst-content dl dt {
  font-weight:normal;
}

.rst-content dl:not(.docutils) dt{
	font-size: 110%;
}

.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) tt.descclassname,.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) code.descname,.rst-content dl:not(.docutils) tt.descclassname,.rst-content dl:not(.docutils) code.descclassname{
	font-size: 10% !important;
}
.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) tt.descname,.rst-content dl:not(.docutils) code.descname{
	font-size: 110% !important;
}