---
layout: base
---

<div class="custom-header" id="content">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</div>

<div class="container custom-container">
  <div class="row">
    <div class="col-md-3" role="complementary">
      <nav class="custom-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav custom-sidenav">
          <li>
            <a href="#table-of-contents">Table of Contents</a>
          </li>
          {% for first_level in page.table_of_contents %}
            <li>
              <a href="#{{ first_level[0] | slugify }}">{{ first_level[0] }}</a>
              {% if first_level[1] != empty %}
                <ul class="nav">
                  {% for second_level in first_level[1] %}
                    <li>
                      <a href="#{{ second_level[0] | slugify }}">{{ second_level[0] }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <main class="col-md-9" role="main">
      {{ content }}
      
      <h1 id="table-of-contents">Table of Contents</h2>
      <ul class="toc">
        {% for first_level in page.table_of_contents %}
          <li>
            <a href="#{{ first_level[0] | slugify }}">{{ first_level[0] }}</a>
            {% if first_level[1] != empty %}
              <ul>
                {% for second_level in first_level[1] %}
                  <li>
                    <a href="#{{ second_level[0] | slugify }}">{{ second_level[0] }}</a>
                    {% if first_level[1] != empty %}
                      <ul>
                        {% for third_level in second_level[1] %}
                          <li>
                            <a href="#{{ third_level[0] | slugify }}">{{ third_level[0] }}</a>
                            {% if third_level[1] != empty %}
                              <ul>
                                {% for fourth_level in third_level[1] %}
                                  <li>
                                    <a href="#{{ fourth_level[0] | slugify }}">{{ fourth_level[0] }}</a>
                                    {% if fourth_level[1] != empty %}
                                      <ul>
                                        {% for fifth_level in fourth_level[1] %}
                                          <li>
                                            <a href="#{{ fifth_level[0] | slugify }}">{{ fifth_level[0] }}</a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      
      {% for first_level in page.table_of_contents %}
        <h1 id="{{ first_level[0] | slugify }}" class="page-header">{{ first_level[0] }}</h1>
        {% capture first_level_ref %}{{ page.title | slugify }}/{{ first_level[0] | slugify }}{% endcapture %}
        {% capture content %}{% include {{first_level_ref}}.md %}{% endcapture %}
        {{ content | markdownify }}
        
        {% for second_level in first_level[1] %}
          <h2 id="{{ second_level[0] | slugify }}" class="page-header">{{ second_level[0] }}</h2>
          <div class="second-level">
            {% capture second_level_ref %}{{ first_level_ref }}/{{ second_level[0] | slugify }}{% endcapture %}
            {% capture content %}{% include {{second_level_ref}}.md %}{% endcapture %}
            {{ content | markdownify }}
          
            {% for third_level in second_level[1] %}
              <h3 id="{{ third_level[0] | slugify }}" class="page-header">{{ third_level[0] }}</h3>
              <div class="third-level">
                {% capture third_level_ref %}{{ second_level_ref }}/{{ third_level[0] | slugify }}{% endcapture %}
                {% capture content %}{% include {{third_level_ref}}.md %}{% endcapture %}
                {{ content | markdownify }}
          
                {% for fourth_level in third_level[1] %}
                  <h4 id="{{ fourth_level[0] | slugify }}" class="page-header">{{ fourth_level[0] }}</h4>
                  <div class="fourth-level">
                    {% capture fourth_level_ref %}{{ third_level_ref }}/{{ fourth_level[0] | slugify }}{% endcapture %}
                    {% capture content %}{% include {{fourth_level_ref}}.md %}{% endcapture %}
                    {{ content | markdownify }}
          
                    {% for fifth_level in fourth_level[1] %}
                      <h5 id="{{ fifth_level[0] | slugify }}" class="page-header">{{ fifth_level[0] }}</h5>
                      <div class="fifth-level">
                        {% capture fifth_level_ref %}{{ fourth_level_ref }}/{{ fifth_level[0] | slugify }}{% endcapture %}
                        {% capture content %}{% include {{fifth_level_ref}}.md %}{% endcapture %}
                        {{ content | markdownify }}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </main>
  </div>
</div>