---
layout: base
---
{% assign api_reference_folder = page.title | slugify %}
      
<div class="custom-header" id="content">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</div>

<div class="container custom-container">
  <div class="row">
    <div class="col-md-3" role="complementary">
      <nav class="custom-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav custom-sidenav">
          <li>
            <a href="#table-of-contents">Table of Contents</a>
          </li>
          {% for first_level in page.table_of_contents %}
            {% capture first_level_namespace %}{% if first_level[1].namespace %}{{ first_level[1].namespace }}-{% endif %}{% endcapture %}
            <li>
              <a href="#{{first_level_namespace}}{{ first_level[0] | slugify }}">{{ first_level[0] }}</a>
              {% if first_level[1].subsection %}
                  <ul class="nav">
                  {% for second_level in first_level[1].subsection %}
                    {% capture second_level_namespace %}{{first_level_namespace}}{% if second_level[1].namespace %}{{ second_level[1].namespace }}-{% endif %}{% endcapture %}
                    <li>
                      <a href="#{{second_level_namespace}}{{ second_level[0] | slugify }}">{{ second_level[0] }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <a class="back-to-top" href="#top">
          Back to top
        </a>
        
        <br>
        Version:
        <ul class="nav custom-sidenav">
          {% for api_version in site.api_version %}
            {% if forloop.index == 1 %}
              {% assign api_version_folder = "api-reference" %}
            {% else %}
              {% capture api_version_folder %}api-reference-{{ api_version | slugify }}{% endcapture %}
            {% endif %}
            <li {% if api_version_folder == api_reference_folder %}class="selected"{% endif %}>
              <a href="{{ site.baseurl }}/{{ api_version_folder }}">{{ api_version }}</a>
            </li>
          {% endfor %}
        </ul>
        
        <!--
        <br>
        Filter:
        <ul class="nav custom-sidenav custom-filter">
            <li>
              <input class="bootstrap-switch" type="checkbox"> <span class="label custom-label-continuous">continuous</span>
            </li>
            <li>
              <input class="bootstrap-switch" type="checkbox"> <span class="label custom-label-discrete">discrete</span>
            </li>
        </ul>
        -->
      </nav>
    </div>
    <main class="col-md-9" role="main">
      {{ content }}
      
      <h1 id="table-of-contents">Table of Contents</h2>
      <ul class="toc">
        {% for first_level in page.table_of_contents %}
          {% capture first_level_namespace %}{% if first_level[1].namespace %}{{ first_level[1].namespace }}-{% endif %}{% endcapture %}
          <li>
            <a href="#{{first_level_namespace}}{{ first_level[0] | slugify }}">{{ first_level[0] }}</a>
            {% if first_level[1].subsection %}
              <ul>
                {% for second_level in first_level[1].subsection %}
                  {% capture second_level_namespace %}{{first_level_namespace}}{% if second_level[1].namespace %}{{ second_level[1].namespace }}-{% endif %}{% endcapture %}
                  <li>
                    <a href="#{{second_level_namespace}}{{ second_level[0] | slugify }}">{{ second_level[0] }}</a>
                    {% if second_level[1].subsection %}
                      <ul>
                        {% for third_level in second_level[1].subsection %}
                          {% capture third_level_namespace %}{{second_level_namespace}}{% if third_level[1].namespace %}{{ third_level[1].namespace }}-{% endif %}{% endcapture %}
                          <li>
                            <a href="#{{ third_level_namespace }}{{ third_level[0] | slugify }}">{{ third_level[0] }}</a>
                            {% if third_level[1].subsection %}
                              <ul>
                                {% for fourth_level in third_level[1].subsection %}
                                  {% capture fourth_level_namespace %}{{third_level_namespace}}{% if fourth_level[1].namespace %}{{ fourth_level[1].namespace }}-{% endif %}{% endcapture %}
                                  <li>
                                    <a href="#{{ fourth_level_namespace }}{{ fourth_level[0] | slugify }}">{{ fourth_level[0] }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      
      {% for first_level in page.table_of_contents %}
        {% capture first_level_namespace %}{% if first_level[1].namespace %}{{ first_level[1].namespace }}-{% endif %}{% endcapture %}
        {% capture first_level_anchor %}{{ first_level_namespace }}{{ first_level[0] | slugify }}{% endcapture %}
        {% capture first_level_index %}{{ forloop.index }}{% endcapture %}
        <h1 id="{{ first_level_anchor }}" class="page-header">
          {{ first_level_index }} {{ first_level[0] }}
          <a class="custom-anchor" href="#{{ first_level_anchor }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        </h1>
        
        {% capture first_level_include %}{{ api_reference_folder }}/{{ first_level[0] | slugify }}{% endcapture %}
        {% capture first_level_anchor_prefix %}{{ first_level_anchor }}-{% endcapture %}
        {% capture content %}{% include {{first_level_include}}.md namespace=first_level_namespace anchor_prefix=first_level_anchor_prefix api_reference_folder=api_reference_folder %}{% endcapture %}
        {{ content | markdownify }}
        
        {% for second_level in first_level[1].subsection %}
          {% capture second_level_namespace %}{{ first_level_namespace }}{% if second_level[1].namespace %}{{ second_level[1].namespace }}-{% endif %}{% endcapture %}
          {% capture second_level_anchor %}{{ second_level_namespace }}{{ second_level[0] | slugify }}{% endcapture %}
          {% capture second_level_index %}{{ first_level_index }}.{{ forloop.index }}{% endcapture %}
          <h2 id="{{ second_level_anchor }}" class="page-header">
            {{ second_level_index }} {{ second_level[0] }}
            <a class="custom-anchor" href="#{{ second_level_anchor }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
          </h2>
          {% capture second_level_include %}{{ first_level_include }}/{{ second_level[0] | slugify }}{% endcapture %}
          {% capture second_level_anchor_prefix %}{{ second_level_anchor }}-{% endcapture %}
          {% capture content %}{% include {{second_level_include}}.md namespace=second_level_namespace anchor_prefix=second_level_anchor_prefix api_reference_folder=api_reference_folder %}{% endcapture %}
          {{ content | markdownify }}
          
          {% for third_level in second_level[1].subsection %}
            {% capture third_level_namespace %}{{ second_level_namespace }}{% if third_level[1].namespace %}{{ third_level[1].namespace }}-{% endif %}{% endcapture %}
            {% capture third_level_anchor %}{{ third_level_namespace }}{{ third_level[0] | slugify }}{% endcapture %}
            {% capture third_level_index %}{{ second_level_index }}.{{ forloop.index }}{% endcapture %}
            <h2 id="{{ third_level_anchor }}" class="page-header">
              {{ third_level_index }} {{ third_level[0] }}
              <a class="custom-anchor" href="#{{ third_level_anchor }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            </h2>
            {% capture third_level_include %}{{ second_level_include }}/{{ third_level[0] | slugify }}{% endcapture %}
            {% capture third_level_anchor_prefix %}{{ third_level_anchor }}-{% endcapture %}
            {% capture content %}{% include {{third_level_include}}.md namespace=third_level_namespace anchor_prefix=third_level_anchor_prefix api_reference_folder=api_reference_folder %}{% endcapture %}
            {{ content | markdownify }}
      
            {% for fourth_level in third_level[1].subsection %}
              {% capture fourth_level_namespace %}{{ third_level_anchor }}{% if fourth_level[1].namespace %}{{ fourth_level[1].namespace }}-{% endif %}{% endcapture %}
              {% capture fourth_level_anchor %}{{ fourth_level_namespace }}{{ fourth_level[0] | slugify }}{% endcapture %}
              {% capture fourth_level_index %}{{ third_level_index }}.{{ forloop.index }}{% endcapture %}
              <h2 id="{{ fourth_level_anchor }}" class="page-header">
                {{ fourth_level_index }} {{ fourth_level[0] }}
                <a class="custom-anchor" href="#{{ fourth_level_anchor }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
              </h2>
              {% capture fourth_level_include %}{{ third_level_include }}/{{ fourth_level[0] | slugify }}{% endcapture %}
              {% capture fourth_level_anchor_prefix %}{{ fourth_level_anchor }}-{% endcapture %}
              {% capture content %}{% include {{fourth_level_include}}.md namespace=fourth_level_namespace anchor_prefix=fourth_level_anchor_prefix api_reference_folder=api_reference_folder %}{% endcapture %}
              {{ content | markdownify }}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </main>
  </div>
</div>