<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

    <!-- Custom theme -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sra-theme.css">
    
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans" rel="stylesheet" type="text/css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
      
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/assets/icons/manifest.json">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#df2020">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ site.baseurl }}/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#df2020">
  </head>
  </head>
  <body{% if page.category == 'landing-page' %} class="landing-page"{% endif %}>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>
    
    <!-- Main navigation -->
    <!-- TODO Toogle does not activates on mobile devices -->
    <header class="navbar navbar-static-top custom-nav" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".custom-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ site.baseurl }}/" class="navbar-brand">{{ site.title }}</a>
        </div>
        <nav class="collapse navbar-collapse custom-navbar-collapse">
          <ul class="nav navbar-nav">
          {% for title in site.navigation %}
              {% assign link = title | slugify %}
              <li{% if page.url contains link %} class="active"{% endif %}>
                  <a href="{{ site.baseurl }}/{{ link }}">{{ title }}</a>
              </li>
          {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ site.github-url }}" target="_blank">Github</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}
    
    <footer class="custom-footer" role="contentinfo">
      <div class="container">
        <p>
          {{ site.title }} and these docs are maintained by the <a href="{{ site.github-url }}/graphs/contributors" target="_blank">core {{ site.title }} team and contributers</a>. Thank you ever so much for your hard work!
          <br />
          Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        <p>
          Currently v0.9.0 · <a href="{{ site.github-url }}/issues" target="_blank">{{ site.title }} Issues</a> <!--· <a href="{{ site.github-url }}/blob/master/CHANGELOG.md">Changelog</a>--> · <a href="{{ site.baseurl }}/contact">Impressum</a>
        </p>
      </div>
    </footer>
    
    <!-- jQuery (necessary for Bootstrap) -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- MathJax -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Custum script -->
    <script src="{{ site.baseurl }}/assets/js/documentation.min.js"></script>
      
    <!-- Google Analytics OptOut (must be placed before the actual tracking code) -->
    <script>
      // Set to the same value as the web property used on the site
      var gaProperty = 'UA-58155551-1';

      // Disable tracking if the opt-out cookie exists.
      var disableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(disableStr + '=true') > -1) {
        window[disableStr] = true;
      }

      // Opt-out function
      function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
      }
    </script>
    <!-- Google Analytics tracking code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58155551-1', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');

    </script>
  </body>
</html>