---
layout: base
---

<main class="custom-masthead" id="content" role="main">
  <div class="container">
    <h1>
      <img src="{{ site.baseurl }}/assets/image/logo_with_name.png" alt="Mantella">
    </h1>
    <p class="lead">
      {{ site.subtitle }}
    </p>
    
    <p class="lead">
      <a href="{{ site.github-url }}/archive/master.zip" class="btn btn-outline btn-lg">Download {{ site.project_name }}</a> <a href="get-started" class="btn btn-outline btn-lg">Get Started</a>
    </p>
    </p>
  </div>
</main>

{{ content }}