---
layout: base
---
<body class="landing-page">
  <header class="hidden-print">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mantella</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/get-started/">Get Started</a></li>
            <li><a href="{{ site.baseurl }}/overview/">API Reference</a></li>
            <li><a href="{{ site.baseurl }}/changelog/">Changelog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  {{ content }}