---
layout: base
---

<div class="custom-header" id="content">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</div>

{% assign entries = site.entries | where: 'category', page.category | sort: 'name', 'first' %}

<div class="container custom-container">
  <div class="row">
    <div class="col-md-3" role="complementary">
      <nav class="custom-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav custom-sidenav">
          {% for entry in entries %}
            <li>
              <a href="#{{ entry.title | slugify }}">{{ entry.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <main class="col-md-9" role="main">
      {{ content }}
      
          {% for entry in entries %}
        <section class="custom-section">
          <h1 id="{{ entry.title | slugify }}" class="page-header">{{ entry.title }}</h1>
          
          {{ entry.content }}
        </section>
      {% endfor %}
    </main>
  </div>
</div>