---
layout: base
---
{% assign _breadcrumbs = page.url | split: '/' %}

{% assign _documents_title = site.array %}
{% assign _documents_url = site.array %}
{% for _section in site.data.sections %}
  {% assign _documents_title = _documents_title | push: _section.title %}
  {% assign _section_url = _section.title | slugify | prepend: '/' | append: '/' %} 
  {% assign _documents_url = _documents_url | push: _section_url %}
  {% for _subsection in _section.subsections %}
    {% assign _documents_title = _documents_title | push: _subsection %}
    {% assign _subsection_url = _subsection | slugify | prepend: _section_url | append: '/' %} 
    {% assign _documents_url = _documents_url | push: _subsection_url %}
  {% endfor %}
{% endfor %}
{% assign _last_index = _documents_url.size | minus: 1 %}

<main role="main">
  <div class="container">
    <div class="row">
      <aside class="col-sm-3 hidden-xs hidden-print">
        <nav>
          <ul class="nav nav-pills nav-stacked">
            {% for _section in site.data.sections %}
              {% assign _section_title = _section.title | slugify %}
              {% assign _section_url = _section_title | prepend: '/' | append: '/' %}
              {% if _section_title == _breadcrumbs[1] %}
                <li class="active">
                  <a href="{{ _section_url }}">{{ _section.title }} <span class="sr-only">(current section)</span></a>
                  {% if _section.subsections %}
                    <ul class="nav-pills nav-stacked">
                      {% for _subsection in _section.subsections %}
                        {% assign _subsection_title = _subsection | slugify %}
                        {% assign _subsection_url = _subsection_title | prepend: _section_url | append: '/' %}
                        {% if _subsection_title == _breadcrumbs[2] %}
                          <li class="active"><a href="{{ _subsection_url }}">{{ _subsection }}<span class="sr-only"> (current subsection)</span></a></li>
                        {% else %}
                          <li><a href="{{ _subsection_url }}">{{ _subsection }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% else %}
                <li><a href="{{ _section_url }}">{{ _section.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </aside>
      <div class="col-sm-9 col-xs-12">
        
        {{ content }}
        
        <nav class="hidden-print">
          <ul class="pager">
            {% for _index in (0.._last_index) %}
              {% if _documents_url[_index] == page.url %}
                {% if _index == 0 %}
                   <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr; </span>Back</a></li>
                {% else %}
                  {% assign _previous = _index | minus: 1 %}
                  <li class="previous"><a href="{{ _documents_url[_previous] }}"><span aria-hidden="true">&larr; </span>{{ _documents_title[_previous] }}</a></li>
                {% endif %}
                {% if _index == _last_index %}
                   <li class="next disabled"><a href="#">Next<span aria-hidden="true"> &rarr;</span></a></li>
                {% else %}
                  {% assign _next = _index | plus: 1 %}
                  <li class="next"><a href="{{ _documents_url[_next] }}">{{ _documents_title[_next] }}<span aria-hidden="true"> &rarr;</span></a></li>
                {% endif %}
                {% break %}
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>